{%- assign card_product = block.settings.product -%}

<div
  onclick="window.location.href='{{ card_product.url }}'"
  class="w-[365px] shrink-0 snap-start relative cursor-pointer double-tab__card rounded-3xl hover:drop-shadow-xl transition-all duration-300 drop-shadow-lg inset-2 bg-white double-tab__card--{{ block.settings.tab_id }}"
  data-tab="{{ block.settings.tab_id }}"
  style="padding: {{ section.settings.card_vr_padding }}px {{ section.settings.card_hz_padding }}px;">
  {%- if card_product -%}
    {%- if block.settings.product_badge_text or block.settings.product_badge -%}
      <div class="absolute top-0 left-0 z-5">
        {%- if block.settings.product_badge == blank -%}
          <span class="rounded-br-full rounded-tl-full text-sm py-1 px-5 !text-white font-semibold" style="background: {{ block.settings.product_badge_color | default: '#000' }}">
            {{ block.settings.product_badge_text | escape }}
          </span>
        {%- else -%}
          <img
            src="{{ block.settings.product_badge | image_url: width: 150 }}"
            width="130"
            height="24"
            class="w-[130]">
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="double-tab__card-content pt-4">
      <div class="double-tab__card-link">
        <h3 class="double-tab__card-title mb-4 text-lg lg:text-xl font-semibold !text-[#101011]">
          {{ block.settings.product_title | default: card_product.title | escape }}
        </h3>

        <div class="mb-4">
          {%- assign card_image = block.settings.product_image | default: card_product.featured_image -%}
          {{ card_image | image_url: width: 300 | image_tag: class: 'double-tab__card-image' }}
        </div>

        {%- if card_product.variants_count > 1 -%}
          <select
            onclick="event.stopPropagation();"
            onmousedown="event.stopPropagation();"
            class="double-tab__card-variant-select mb-4 w-full rounded-lg border border-solid border-[#e0e0e0] bg-white px-4 py-2 text-base font-normal text-[#101011] focus:border-blue-600 focus:outline-none">
            {%- for variant in card_product.variants -%}
              <option data-price="{{ variant.price }}" value="{{ variant.title }}">
                {{ variant.title | escape }}
              </option>
            {%- endfor -%}
          </select>
        {%- endif -%}

        <p class="double-tab__card-price lg:text-xl font-medium text-[#101011] mb-4">
          {%- if card_product.variants_count > 1 -%}
            {%- liquid
              assign selected_variant = card_product.selected_or_first_available_variant
              assign variant_price = selected_variant.price | divided_by: 100
              assign variant_count = selected_variant.title | split: ' Standard kits' | first
              assign total_price = variant_price | times: variant_count
            -%}
            {{ total_price }}
          {%- else -%}
            {{ card_product.price | money_without_currency }}
          {%- endif -%}
          <span>
            {{ shop.currency }}</span>
          {%- if card_product.variants_count > 1 -%}
            <span class="text-neutral-400 inline-block ml-5 double-tab__card-per--price">
              ({{ card_product.selected_or_first_available_variant.price | money_with_currency }} / Test)
            </span>
          {%- endif -%}
        </p>

        <a href="{{ card_product.url }}" class="rounded-full min-w-44 text-center !font-semibold inline-block py-2.5 px-8 bg-blue-600 hover:bg-blue-500 transition-all duration-300 no-underline !text-white mb-4">
          {{ 'actions.add_to_cart' | t }}
        </a>

        <div class="double-tab__card-description mb-4">
          {{ block.settings.product_description | default: card_product.description | truncate: 100, '...' }}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>